<div class="carousel">
  <div class="title">{{ include.title }}</div>

  <div class="slick-carousel">
    {% for x in include.data %}
    <div class="thumb">
      {% if x.url %}
      <a href="#"
         data-type={% if x.type %}
                   "{{ x.type }}"
                   {% else %}
                   "{{ include.type }}"
                   {% endif %}
         data-title="{{ x.title }}"
         data-url="{{ x.url }}"
         data-width="{{ x.width }}"
         data-height="{{ x.height }}"
         {% comment %}
         I tried to pass the value as an array, but I
         couldn't get it to work.
         data-buttons={{ x.buttons | jsonify | escape }}
         So, instead, I iterate through the array and
         create a new data-attribute for each array element.
         {% endcomment %}
         {% assign i = 1 %}
         {% for b in x.buttons %}
         data-button-{{ i }}-title="{{ b.title }}"
         data-button-{{ i }}-url="{{ b.url }}"
         {% assign i = i | plus: 1 %}
         {% endfor %}
         >
        <img src="{{ x.thumb }}" alt="{{ x.title }}" />
      </a>
      {% else %}
      <div class="no-link">
        <img src="{{ x.thumb }}" alt="{{ x.title }}" />
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="drawer collapse">
    <a class="close-button">
      <span class="glyphicon glyphicon-remove"
            aria-hidden="true">
      </span>
    </a>
    <div class="content">
    </div>
    <div class="buttons">
    </div>
  </div>
</div>
