<nav class="navbar navbar-custom navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="{{ site.data.business.name }} logo." src="/img/kids-heal-logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/donate.html">Donate</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="/supper-club.html">Golden Door Supper Club</a></li>
      </ul>-->
    </div>
  </div>
</nav>
