$white-color : #fff;
$black-color : #000;
$blue-color      : #038ddc;
$blue-color-dark : #0081c4;
$blue-color-darker  : #005b8a;
$blue-color-light   : #67c1f0;
$green-color        : #8cc63f;
$green-color-dark   : #6b9831;
$green-color-darker : #466320;
$green-color-light  : #badd8c;
$yellow-color       : #ffec00;
$yellow-color-dark  : #c4b300;
$yellow-color-darker  : #807500;
$yellow-color-light   : #fff466;
$orange-color         : #f58220;
$orange-color-dark    : #bc6318;
$orange-color-darker  : #7b4110;
$orange-color-light   : #f9b479;
$pink-color           : #f286af;
$pink-color-dark      : #ba6786;
$pink-color-darker    : #794358;
$pink-color-light     : #f7b6cf;
$purple-color         : #3b0096;
$red-color            : #f52020;
$chap-red-color       : #ff0000;
$chap-orange-color    : #ffb947;
$chap-green-color     : #87bc4b;
$chap-purple-color    : #6c32ed;
$kh-purple-color      : #6d40ea;
$kh-green-color       : #87bc4b;
$kh-orange-color      : #ff8000;
$kh-blue-color        : #3a9ff9;
$kh-pink-color        : #ff0080;
$supper-club-bg       : #680000;
